%table
	%thead
		%tr
			%th Patient Name
			%th Date of Birth
			%th Primary Provider
			%th Practice
			%th Sex
			- if session[:account_diseases].include? 'DM'
				%th{:style => 'width:15%'} DM Status
			- if session[:account_diseases].include? 'CKD'
				%th{:style => 'width:15%'} CKD Status
			%th Case Managers
	%tbody
		- @patients.each do |patient|
			%tr
				%td.link= link_to "#{patient.last_name}, #{patient.first_name} #{patient.middle_name}", flowsheet_account_patient_path(obfuscate_encrypt(patient.patient_id, session))
				%td= patient.dob.to_date.strftime('%m-%d-%Y')
				- if patient.contact.nil?
					%td No Provider
					%td
				- else
					- if can? :read, patient.contact
						%td.link= link_to "#{patient.contact.last_name}, #{patient.contact.first_name}", patient.contact
						%td= patient.contact.clients.first.client_name
					- else
						%td= "#{patient.contact.last_name}, #{patient.contact.first_name}"
						%td= patient.contact.clients.first.client_name
				%td= patient.sex
				- if session[:account_diseases].include? 'DM'
					- if patient.status_lookup.nil?
						%td --
					- else
						%td
							- if patient.dm_extended_lookup.non_outreach_short_name.present?
								= patient.dm_extended_lookup.non_outreach_short_name
								- if patient.dm_extended_lookup.help.present?
									.tooltip{:class => 'ui-icon ui-icon-info', :style => 'display:inline-block', :help => patient.dm_extended_lookup.help }
							- else
								= patient.status_lookup.patient_status
				- if session[:account_diseases].include? 'CKD'
					- if patient.patient_particip_status_lookup.nil?
						%td --
					- else
						%td
							- if patient.ckd_extended_lookup.non_outreach_short_name.present?
								= patient.ckd_extended_lookup.non_outreach_short_name
								- if patient.ckd_extended_lookup.help.present?
									.tooltip{:class => 'ui-icon ui-icon-info', :style => 'display:inline-block', :help => patient.ckd_extended_lookup.help }
							- else
								= patient.patient_particip_status_lookup.patient_particip_status
				%td{:style => 'white-space:nowrap'}
					- patient.case_managers.each do |cm|
						= cm.name
						%br
