.append-bottom{:style => "display: inline-block;"}
	.span-6
		%h3{:style => "margin-bottom: 0;"}= name
	.span-4.last.tabmenu.right
		= will_paginate reports, :param_name => "#{param}_page", :page_links => false, :class => "pagination right"
	%table.result-grid{:id => param}
		%thead
			%tr
				%th Date
				%th
				%th
		- if reports.empty?
			%tbody
				%tr
					%td= "No #{name} found"
		-else
			%tbody
				- reports.each do |report|
					%tr
						%td= report.create_time.strftime("%m-%d-%Y") unless report.create_time.nil?
						%td= link_to 'View PDF', view_report_path(obfuscate_encrypt(report.report_id, session)), {:target => "_blank"}
						%td= link_to 'Download PDF', download_report_path(obfuscate_encrypt(report.report_id, session))
			%tfoot
				%tr.notice
					%td.strong{:colspan => 3}= page_entries_info reports, :entry_name => 'help'