%ul#subnav.tabmenu.right
	%li{:class => "<!--[if IE]>curvyIgnore<![endif]--> #{"active" if params[:action] == "flowsheet" or params[:action] == "update"}"}
		= active_link_to "Flowsheet", flowsheet_account_patient_path(obfuscate_encrypt(@patient.patient_id, session))
	%li{:class => "<!--[if IE]>curvyIgnore<![endif]--> #{"active" if params[:action] == "test_results" }"}
		= active_link_to "Patient Test Results", test_results_account_patient_path(obfuscate_encrypt(@patient.patient_id, session))
	- unless @account.suppress_all_reports?
		%li{:class => "<!--[if IE]>curvyIgnore<![endif]--> #{"active" if params[:action] == "reports" }"}
			= active_link_to "Patient-Specific Reports (#{@patient.reports_display_count})", reports_account_patient_path(obfuscate_encrypt(@patient.patient_id, session))
	%li{:class => "<!--[if IE]>curvyIgnore<![endif]--> #{"active" if params[:action] == "due_dates" }"}
		= active_link_to "Lab Due Dates", due_dates_account_patient_path(obfuscate_encrypt(@patient.patient_id, session))