%table
	%thead
		%tr
			%th
				%h3 DM Patients
%br
- total_dm_pats = 0
- @dm_pats.each do |contact, patients|
	%b= contact.name
	.last.right
		= contact.clients.first.to_s
	%table
		%thead
			%tr
				%th Patient Name
				%th PES ID
				%th Date of Birth
				%th Sex
				%th Status Date
				%th Days
		%tbody
			- patients.each do |patient|
				- total_dm_pats += 1
				%tr
					%td.link= link_to "#{patient.last_name}, #{patient.first_name} #{patient.middle_name}", flowsheet_account_patient_path(obfuscate_encrypt(patient.patient_id, session))
					%td= patient.patient_id
					%td= patient.dob.to_date.strftime('%m-%d-%Y')
					%td= patient.sex
					- stat_change_date = patient.patient_status_change_histories.where("patient_status_change_history.latest_status = 'Y'").to_a()[0].date_time.to_date
					%td= stat_change_date.strftime('%m-%d-%Y')
					- days = (Date.today - stat_change_date).to_i
					- if days < 15
						%td{ :style => 'color:green'}= days
					- else
						%td{ :style => 'color:red'}= days
	= "#{pluralize(patients.size, 'patient')} pending in status Under Provider Review"
	%br
	%br
.span-9
	%b= "#{pluralize(total_dm_pats, 'DM patient')} Under Provider Review for all PCPs"
.span-3
	= link_to "Export to Excel", url_for(:format => 'xls') + '?type=dm'

%br
%br
%br
%br
%table
	%thead
		%tr
			%th
				%h3 CKD Patients
%br
- total_ckd_pats = 0
- @ckd_pats.each do |contact, patients|
	%b= contact.name
	.last.right
		= contact.clients.first.to_s
	%table
		%thead
			%tr
				%th Patient Name
				%th PES ID
				%th Date of Birth
				%th Sex
				%th DM Status
				%th CKD Stage
				%th Status Date
				%th Days
		%tbody
			- patients.each do |patient|
				- total_ckd_pats += 1
				%tr
					%td.link= link_to "#{patient.last_name}, #{patient.first_name} #{patient.middle_name}", flowsheet_account_patient_path(obfuscate_encrypt(patient.patient_id, session))
					%td= patient.patient_id
					%td= patient.dob.to_date.strftime('%m-%d-%Y')
					%td= patient.sex
					%td= patient.status_lookup.patient_status.humanize
					%td= patient.disease_stage_lookup.short_description
					- stat_change_date = patient.patient_state_change_histories.where("patient_state_change_history.status_type = 'PARTICIP' AND patient_state_change_history.latest_status = 'Y'").to_a()[0].date_time.to_date
					%td= stat_change_date.strftime('%m-%d-%Y')
					- days = (Date.today - stat_change_date).to_i
					- if days < 15
						%td{ :style => 'color:green'}= days
					- else
						%td{ :style => 'color:red'}= days
	= "#{pluralize(patients.size, 'patient')} pending in status Under Provider Review"
	%br
	%br
.span-9
	%b= "#{pluralize(total_ckd_pats, 'CKD patient')} Under Provider Review for all PCPs"
.span-3
	= link_to "Export to Excel", url_for(:format => 'xls') + '?type=ckd'
