
= render :partial => "nametag", :locals => { :patient => @patient }
				
.span-24.last
	- if @sections
		.span-24
			= render :partial => 'subnav'
		= render :partial => "patients/web_flowsheet"
	- else
		.span-24
			= render :partial => 'subnav'
		.span-23.round.box.flowsheet.last
			%p.strong.center_text
				= @patient.first_name.titlecase
				= @patient.last_name.titlecase
				is not active in the PES Disease monitoring system. Flowsheets are not being generated for this patient.
.span-23.box.round.comment-box.last
	%h1.no-margin
		Comments for #{@patient.first_name.titlecase} #{@patient.last_name.titlecase}
	= render :partial => 'comments/list', :locals => {:commentable => @patient}