
= render :partial => "nametag", :locals => { :patient => @patient }
				
.span-24
	= render :partial => "subnav"
				
.span-24.last
	= render :partial => "patients/test_results_grid", :locals => {:test_results => @test_results, :tests => @tests}

.span-23.box.round.comment-box.last
	%h1.no-margin
		Comments for #{@patient.first_name.titlecase} #{@patient.last_name.titlecase}
	= render :partial => 'comments/list', :locals => {:commentable => @patient}