.span.round.box.append-1{:style => "margin-bottom: 10; display:inline-block; width:600px; vertical-align:top;"}
	%table.no-zebra
		%tr
			%td
				%h1{:style => "margin-bottom: 0.25em;"}= "#{patient.last_name}, #{patient.first_name} #{patient.middle_name}"
			%td
				= link_to "Edit Patient Info", '', :id => 'edit_patient_info', :onclick => "return toggleEditFields(true)", :style => "white-space:no-wrap;display:inline-block"
			%td{:style => 'width:20%'}

	= form_for @location, :url => account_patient_path(obfuscate_encrypt(patient.patient_id, session)), :method => :put do |f|
		%table.no-zebra
			%tr{:id => 'view_address', :style => 'display:block'}
				%td{:colspan => 4, :style => 'width:500px'}
					- unless patient.location.name.nil? or patient.location.name.empty?
						= patient.location.name
						%br/
					- unless patient.location.address1.nil? or patient.location.address1.empty?
						= patient.location.address1
						%br/
					- unless patient.location.address2.nil? or patient.location.address2.empty?
						= patient.location.address2
						%br/
					- unless patient.location.city.nil? or patient.location.city.empty?
						= patient.location.city + ", "
					- unless patient.location.state.nil? or patient.location.state.empty?
						= patient.location.state + " "
					- unless patient.location.zip.nil? or patient.location.zip.empty?
						= patient.location.zip
						%br/

			%tr{:id => 'edit_address', :style => 'display:none'}
				%td{:colspan => 2, :style => 'width:500px'}
					= f.text_field :location_name, :placeholder => 'Location Name', :size => 40, :maxlength => 40
					%br/
					= f.text_field :address_1, :placeholder => 'Address 1', :size => 40, :maxlength => 50
					%br/
					= f.text_field :address_2, :placeholder => 'Address 2', :size => 40, :maxlength => 50
					%br/
					= f.text_field :city, :placeholder => 'City', :maxlength => 20
					%br/
					= f.select :state, us_states
					= f.text_field :zip, :placeholder => 'Zip Code', :size => 10, :maxlength => 9
					%br/

			%tr{:id => 'view_other_info1', :style => 'display:block'}
				%td{:style => 'width:100px'}
					.strong Home Phone
					- if patient.location.phone?
						= number_to_phone(patient.location.phone)
					- else
						Unknown
				%td{:style => 'width:100px'}
					.strong Cell Phone
					- if patient.location.phone_2?
						= number_to_phone(patient.location.phone_2)
					- else
						Unknown
			%tr{:id => 'view_other_info2', :style => 'display:block'}
				%td{:style => 'width:100px'}
					.strong E-mail
					- if patient.location.email?
						= patient.location.email
					- else
						None
				%td{:style => 'width:400px'}
					.strong Insurance Plan
					- if !patient.patient_plan_lookup.nil?
						= patient.patient_plan_lookup.plan_name
					- else
						None

			%tr{:id => 'edit_other_info1', :style => 'display:none'}
				%td{:style => 'width:100px'}
					.strong Home Phone
					= f.text_field :phone, :placeholder => 'Home Phone', :size => 10, :maxlength => 10
				%td{:style => 'width:100px'}
					.strong Cell Phone
					= f.text_field :phone_2, :placeholder => 'Cell Phone', :size => 10, :maxlength => 10
			%tr{:id => 'edit_other_info2', :style => 'display:none'}
				%td{:style => 'width:200px'}
					.strong E-mail
					= f.email_field :email, :placeholder => 'E-mail', :size => 35, :maxlength => 75
				%td{:style => 'width:300px'}
					.strong Insurance Plan
					= select_tag :patient_plan, options_from_collection_for_select(PatientPlanLookup.all, 'id', 'plan_name', @plan.nil? ? '' : @plan.plan_id), :prompt => '-- None --'

			%tr{:id => 'edit_address_submit', :style => 'display:none'}
				%td{:colspan => 2, :style => 'width:500px'}
					= f.submit 'Update'
					= f.submit 'Cancel', :onclick => "return toggleEditFields(false)"
			%tr{:id => 'edit_address_space', :style => 'display:none'}
				%td{:colspan => 2, :style => 'width:500px'}


		%table.no-zebra
			%tr
				%td
					.strong Sex
					= patient.sex
				%td
					.strong Birth Date
					= patient.dob.to_date.strftime('%m-%d-%Y')
				%td
					.strong Primary Care Provider
					- if patient.primary_provider?
						- contact = Contact.find(patient[:primary_provider])
						= contact.last_name + ", " + contact.first_name
					- else
						None
				%td
					.strong Activation Date
					= @activation_date

.span.infoplate.last{:style => "display:inline-block; width:300px;"}
	%table
		%thead
			%tr
				%th.center_text{:colspan => 2} PES Monitored Conditions
		%tbody
			- if session[:account_diseases].include? 'DM'
				%tr
					%td.strong{:style => "width:30%;vertical-align:top;"} Diabetes
					%td{:style => "white-space:no-wrap;display:inline-block"}
						- if patient.dm_reporting_status == 'Y'
							Diabetic
							%br/
						- if patient.dm_extended_lookup.non_outreach_short_name.present?
							%b Status:
							= patient.dm_extended_lookup.non_outreach_short_name
							- if patient.dm_extended_lookup.help.present?
								.tooltip{:class => 'ui-icon ui-icon-info', :style => 'display:inline-block', :help => patient.dm_extended_lookup.help }
						- else
							%b Status:
							= patient.status_lookup.patient_status
			- if session[:account_diseases].include? 'CKD'
				%tr
					%td.strong{:style => "vertical-align: top"} Kidney Disease
					%td
						- if patient.ckd_reporting_status == 'Y'
							= "#{patient.patient_state.ckd_disease_stage} - #{patient.patient_state.ckd_disease_stage_description}"
							%br/
						- if patient.ckd_extended_lookup.non_outreach_short_name.present?
							%b Status:
							= patient.ckd_extended_lookup.non_outreach_short_name
							- if patient.ckd_extended_lookup.help.present?
								.tooltip{:class => 'ui-icon ui-icon-info', :style => 'display:inline-block', :help => patient.ckd_extended_lookup.help }
						- else
							%b Status:
							= patient.patient_particip_status_lookup.patient_particip_status
			- else
				%tr
					%td.center_text{:colspan => 2} This patient is not currently active for any disease PES monitors

- content_for :javascript_includes do
	:javascript

		function toggleEditFields(bIsEdit) {
			document.getElementById('edit_patient_info').setAttribute('style', 'display:' + (bIsEdit ? 'none' : 'inline-block'));
			document.getElementById('view_address').setAttribute('style', 'display:' + (bIsEdit ? 'none' : 'block'));
			document.getElementById('edit_address').setAttribute('style', 'display:' + (bIsEdit ? 'block' : 'none'));
			document.getElementById('view_other_info1').setAttribute('style', 'display:' + (bIsEdit ? 'none' : 'block'));
			document.getElementById('view_other_info2').setAttribute('style', 'display:' + (bIsEdit ? 'none' : 'block'));
			document.getElementById('edit_other_info1').setAttribute('style', 'display:' + (bIsEdit ? 'block' : 'none'));
			document.getElementById('edit_other_info2').setAttribute('style', 'display:' + (bIsEdit ? 'block' : 'none'));
			document.getElementById('edit_address_submit').setAttribute('style', 'display:' + (bIsEdit ? 'block' : 'none'));
			document.getElementById('edit_address_space').setAttribute('style', 'display:' + (bIsEdit ? 'block' : 'none'));
		    return false;
		}

