.search
	%label Search Patients
	= form_for :search, :url => search_account_patients_path, :method => "get" do |f|
		.form.search
			.field
				= f.text_field :last_name_starts_with, :placeholder => "Last Name"
				%br
				= f.text_field :first_name_starts_with, :placeholder => "First Name"
				%br
				%span.tooltip{:help=> "Only patients who are actively monitored by PES"}
					= f.check_box :active, {:checked => true}, true, nil
					= f.label :active, 'Only Active Patients'
		= f.submit "Search"