
= render :partial => "nametag", :locals => { :patient => @patient }
				

.span-24
	= render :partial => 'subnav'
.span-24.last
	= render :partial => "patients/lab_due_dates", :locals => {:lab_due_dates => @lab_due_dates, :tests => @tests}

.span-23.box.round.comment-box.last
	%h1.no-margin
		Comments for #{@patient.first_name.titlecase} #{@patient.last_name.titlecase}
	= render :partial => 'comments/list', :locals => {:commentable => @patient}