= form_for(@comment) do |f|
  #comment_form.span-23.comment-row.last
    .span-5.prepend-top.tooltip{:help => current_user.email}
      %p.comment-username.strong.center_text User Name
    .span-17.comment-content.leftarrow.last
      - if @comment.errors.any?
        %div{:id => "span-17 comment-alert last"}
          %h4.comment-alert_title
            = pluralize(@comment.errors.count, "error")
            prohibited this comment from being saved:
            %ul
              - @comment.errors.full_messages.each do |msg|
                %li.comment-alert_list= msg
      .span-17.last= f.text_area :comment, :class => "comment-textarea span-17"
      .span-17.comments-heading.last
        %span.right
          = f.submit "Update", :class => "button"